{% extends "admin/base.html" %}
{% block title %}
Creating a New {{ model.title() }}
{% endblock %}
{% block main %}
	<div>
		<blockquote>
			<p>It is a capital mistake to theorize before one has data.</p>
			<footer>Sherlock Holmes</footer>
		</blockquote>
	</div>
  <div>
  	<form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
  	  <legend>New: {{ legend }}</legend>
      <fieldset>
        {% for field in fields %}
        <div class="form-group">
        	    {{ field.render()|safe }}
        </div>
        {% endfor %}
      </fieldset>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-lg">Submit</button>
        </div>
      </div>
  	</form>
  </div>
{% endblock %}